body{
    margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link{
    display: flex;
    gap:50px;
    flex: 0 0 32%;
    
}
a{
    text-decoration: none;
    color: rgb(99, 96, 96);
}

.detil{
    display: flex;
    padding-top: 5rem;
    justify-content: space-around;
}

.title{
    font-size: 22px;
    color: whitesmoke;
    display: flex;
    flex:  0 0 39%;
    justify-content: center;

}

.h1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 22rem;
    padding:0;
    margin:0;
    color: whitesmoke;
}
.par{
    font-size: large;
    max-width: 400px;
    margin-top:0;
    color:#8e8e8f;
    margin:0
}
.img{
    display: flex;
padding-bottom: 30px;
flex: 0 0 26.5%
}
.sign-up{
    background-color: lightskyblue;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 100px;
    height: 15px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin: 14px;
}


.topic{
    text-align: center;
    font-size: 28px;
  
}

.examples{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.items{
    max-width: 300px;
   text-align: center;
}



.quote{
    background-color: #48485415;
text-align: center;
padding: 20px;
margin: 20px;
}

.info{
    background-color:  #3882f6; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    margin-left: 350px;
    margin-right: 350px;
    flex:1;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.sign-up1{
    background-color: rgb(3, 140, 225);
    border-radius: 16px;
    padding: 20px;
    width: 100px;
    height: 15px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    justify-content: flex-end;
    flex: 1;
}
.sign-up1{
    align-self: flex-end;
    margin-right: 13px;
    margin-bottom: 20px;
}





.text0{
display: flex;
       max-width: 22rem;
       flex:  0 0 45%;
    color: whitesmoke;
    align-items: center;
    font-weight: bold;
    margin-left: 11px;
    margin-bottom: 0px;
    flex: 1;


}
.text1{
    display: flex;
    margin-left: 11px;
    margin-bottom: 19px;
    flex: 1;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: whitesmoke;
    padding: 16px;
}




